/**
 * @author		New Media, QVC Inc.
 * @project		Limelight Discovery Tool
 * @version		0.1.0
 **/
/*Go Shawn!*/
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans-serif; }

.form-outer {
  width: 100%;
  height: 200px;
  background-color: gray;
  padding: 20px; }

.form-outer ul li {
  display: inline-block;
  margin-right: 20px; }

.form-outer label {
  display: block;
  width: 250px; }

.form-outer select {
  width: 250px;
  height: 175px; }
